.most-popular-item-image{
    /* width: 100%; */
    border-radius: calc(var(--border-radius-primary)/4);
    margin-bottom: calc(var(--margin-primary)/4);

}
.most-pupular-item-content{
    display: flex;
    justify-content: space-between;
    flex:  1 25%;
    /* margin: 3px; */
}
.most-pupular-item-title{
    font-size: 4px;
    line-height:4rem;
}